In [2]:
import pandas
pandas.__version__

'0.24.2'

In [3]:
import pandas as pd

In [4]:
tdf=pd.read_csv('iris.csv')

In [7]:
tdf.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [8]:
tdf['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [12]:
tdf['species'].value_counts()

virginica     50
setosa        50
versicolor    50
Name: species, dtype: int64

### PAndas Series Object

In [10]:
data=pd.Series([0.24,0.5,0.65,1.1])
data

0    0.24
1    0.50
2    0.65
3    1.10
dtype: float64

In [11]:
data.values

array([0.24, 0.5 , 0.65, 1.1 ])

In [13]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [14]:
data[1]

0.5

In [15]:
data[1:3]

1    0.50
2    0.65
dtype: float64

In [9]:
data=pd.Series([0.24, 0.5 , 0.65, 1.1 ],
              index=['a','b','c','d']) #user defined index
data

a    0.24
b    0.50
c    0.65
d    1.10
dtype: float64

In [18]:
data['b']

0.5

In [12]:
#using dictionary with SEries onject
population_dict={
    'Delhi':1500000000,
    'UP':250000000,
    'Rajasthan':324343453,
    'J&K':1200000
}
population=pd.Series(population_dict)
population

Delhi        1500000000
UP            250000000
Rajasthan     324343453
J&K             1200000
dtype: int64

In [13]:
area={
    'Delhi':23000,
    'UP':25000,
    'Rajasthan':323453,
    'J&K':12000
}
states=pd.DataFrame({'population':population_dict,
                    'Area':area})
states

           population    Area
Delhi      1500000000   23000
J&K           1200000   12000
Rajasthan   324343453  323453
UP          250000000   25000