In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression

In [23]:
dfprice=pd.read_csv('EW-MAX.csv')

In [24]:
dfprice.head()

        Date      Open      High       Low     Close  Adj_Close   Volume
0  2000/3/27  3.812500  4.156250  3.812500  4.125000   4.125000  3675600
1  2000/3/28  4.125000  4.125000  4.000000  4.015625   4.015625  1077600
2  2000/3/29  4.000000  4.031250  3.953125  4.000000   4.000000   437200
3  2000/3/30  4.000000  4.000000  3.843750  3.843750   3.843750  1883600
4  2000/3/31  3.734375  3.734375  3.390625  3.390625   3.390625  7931600

In [25]:
dfprice.tail()

,Date,Open,High,Low,Close,Adj_Close,Volume
4387,2017/9/1,113.790001,114.099998,112.790001,113.309998,113.309998,950000
4388,2017/9/5,112.519997,113.529999,111.160004,111.870003,111.870003,1805200
4389,2017/9/6,112.029999,112.489998,110.250000,112.230003,112.230003,2136700
4390,2017/9/7,112.459999,112.900002,112.000000,112.339996,112.339996,1251600
4391,2017/9/8,112.300003,114.790001,112.010002,113.190002,113.190002,1611700

# MultiVarient Linear Regression

In [26]:
dfprice.head()

        Date      Open      High       Low     Close  Adj_Close   Volume
0  2000/3/27  3.812500  4.156250  3.812500  4.125000   4.125000  3675600
1  2000/3/28  4.125000  4.125000  4.000000  4.015625   4.015625  1077600
2  2000/3/29  4.000000  4.031250  3.953125  4.000000   4.000000   437200
3  2000/3/30  4.000000  4.000000  3.843750  3.843750   3.843750  1883600
4  2000/3/31  3.734375  3.734375  3.390625  3.390625   3.390625  7931600

In [27]:
dfprice.drop('Date',inplace=True,axis=1)

In [28]:
from sklearn.preprocessing import MinMaxScaler

In [29]:
scaler=MinMaxScaler()
scaleddf=scaler.fit_transform(dfprice)
new_df=pd.DataFrame(scaleddf,columns=['open','close','low','high','volume','Adj_Close'])
new_df.head()

C:\Program Files (x86)\New folder\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

       open     close       low      high    volume  Adj_Close
0  0.004378  0.006469  0.006934  0.007408  0.007408   0.075401
1  0.007031  0.006205  0.008535  0.006482  0.006482   0.019194
2  0.005970  0.005413  0.008135  0.006350  0.006350   0.005339
3  0.005970  0.005149  0.007201  0.005027  0.005027   0.036632
4  0.003714  0.002904  0.003334  0.001191  0.001191   0.167478

## tarin,test,split,dataframe

In [30]:
xx=new_df[['open','close','low','volume','Adj_Close']]
yy=new_df[['high']]

In [31]:
from sklearn.model_selection import train_test_split

In [32]:
x_train,x_test,y_train,y_test=train_test_split(xx,yy,random_state=100,test_size=0.20)

In [33]:
regmodel2=LinearRegression()
regmodel2.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [34]:
#to prevennt baisness in the data we bring randomness therfore we use random_state=100

In [37]:
y_pred=regmodel2.predict(x_test) #doing preddiction

In [38]:
## doing prediction

# Validation

In [48]:
#finding accurayy for the model
from sklearn import metrics
print("MSE",metrics.mean_squared_error(y_test,y_pred))
print("MAE",metrics.mean_absolute_error(y_test,y_pred))
print("RMSE",np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

MSE 1.198200131790073e-36
MAE 1.8463764782573e-19
RMSE 1.0946232830476763e-18

In [49]:
x=list(x_train.columns)

In [50]:
mystock=[{'open':0.077426,
          'close':0.079238,
          'low':0.078419,
          'volume':0.078324,
          'Adj_Close':0.0541211}]
mystock=pd.DataFrame(mystock,columns=x)
mystock

       open     close       low    volume  Adj_Close
0  0.077426  0.079238  0.078419  0.078324   0.054121

In [51]:
q=regmodel2.predict(mystock)
print(q)

[[0.078324]]

In [52]:
#Body Mass Index Prediction